{% extends 'base.html.twig' %}
{% block body %}
<center><h1> <strong>Produits les plus vendus</strong></h1>
<div align="center">
  <div class="contener_slideshow" style="border:1px solid grey; padding:3px; ">
    <div class="contener_slide">
      <div class="slid_1"><img src="/img/saumon.jpg"></div>
      <div class="slid_2"><img src="/img/california_rolls.jpg"></div>
      <div class="slid_3"><img src="/img/spring_rolls.jpg"></div>
    </div>
  </div>
</div>
</center>
{% endblock %}

