{# templates/tirage/nombre.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Block Titre{% endblock %}

{% block body %}
<p> le tirage vous a donné le nombre : {{ nombre }}</p>

{% endblock %}
